# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.*

# Ignore log files
*.log

# Ignore build output directory
/build/

# Ignore dependencies installed by package managers
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore test coverage reports
/coverage/

# Ignore OS-specific files
.DS_Store
Thumbs.db
